@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4"> Юхимчук Марина</h1>
    <h1 class="display-4">ІПЗ-22-1, ХНУ</h1>
    <h1 class="display-4">ІПЗ-22-1, ХНУ</h1>
</div>
